#c1{
    height: 50px;
    width: 50px;
    border-radius: 50px;
background-color: aqua;
}#c2{
    height: 50px;
    width: 50px;
    border-radius: 50px;
background-color: blue;
}#c3{
    height: 50px;
    width: 50px;
    border-radius: 50px;
background-color: blueviolet;
}#c4{
    height: 50px;
    width: 50px;
    border-radius: 50px;
background-color: chartreuse;
}#aa{
    color: red;
}